.main{
    .content{
        display: flex;
        .left-side{
            width: 100%;
            p.region{
                cursor: pointer;
            }
        }
        .right-side{
            width: 100%;
        }
    }

}