<main class="main">
    <div class="content">
        <div class="left-side">
            <h2>Toutes les régions</h2>
            <p>
                @for (reg of regionsSig(); track reg.Code) {
                    <p (click)="selectRegion(reg)"class="region">{{reg.Code}}</p>
                    <p>{{reg.Name}} </p>
                }@empty {
                    <p>Aucune région</p>
                }
            </p>
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <div class="right-side">
          <h2>Régions selectionnées</h2>
          @if(selectionRegionSig().Code !== '-1'){
            <p class="region">Région {{ selectionRegionSig().Name}} </p>
          }@else{
            <p>Pas de région selectionné</p>
          } 

        </div>
    </div>
</main>


<router-outlet />
